<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let groupKey of groups">
    <ion-item-divider color="light"><span>{{groupedToDos[groupKey].length}} todo/s completed </span> <span class="group-date">{{ groupKey | amCalendar : { sameDay: '[Today]',  lastDay: '[Yesterday]', lastWeek: '[Last] dddd',
    sameElse: 'ddd, MMMM Do, YYYY'} }}</span>
    </ion-item-divider>
    <ion-item *ngFor="let todo of groupedToDos[groupKey]">
      {{todo.text}}
    </ion-item>
  </ion-item-group>
</ion-content>