#todo-content{
    //icons
    .icon-large { 
        &.icon-ios{
            margin-top: 2px;
            font-size: 35px;
        }

        &.icon-md{
            margin-top: 8px;
            font-size: 25px;
        }
    }
}