#todo-content{
//items
    .item-md, .item-ios {
        padding-left: 3%;

        .item-inner{
            padding-left : 0px;
            padding-right : 0px;
            border : none;
            box-shadow: none;
        }
    }

    ion-item-options {
      border : none;
    }

    .item-block {
        &.item-ios{
            border: none;
        }
    }
}